<root>
  <FileGroup Name="scripts.js">
    <File Path="jquery-1.7.2.min.js" Minify="false" />
    <File Path="jquery.signalR-0.5.2.min.js" Minify="false" />
    <File Path="../Game/Client/Shared.js" />
    <File Path="../Game/Client/Directions.js" />
    <File Path="../Game/Client/RoundRect.js" />
    <File Path="../Game/Client/Grid.js" />
    <File Path="../Game/Client/Food.js" />
    <File Path="../Game/Client/Point.js" />
    <File Path="../Game/Client/Snake.js" />
  </FileGroup>

  <!--<FileGroup Name="group2.js">
    <File Path="jquery-1.4.1.min.js" Minify="false" />
    <File Path="jquery.json.js" />
  </FileGroup>

  <FileGroup Name="group1.css">
    <File Path="../Styles/jquery-ui-1.8.custom.css" />
    <File Path="../Styles/colorbox.css" />
    <File Path="howdy.chirp.less" />
  </FileGroup>-->
</root>
